 .category-item {
      text-align: center;
      display: block;
      border-radius: 10px;
      background: #f8f9fa;
      padding: 20px;
      transition: transform 0.3s;
    }
    .category-item:hover {
      transform: translateY(-5px);
    }
    .btn-yellow {
      background-color: #ffc107;
      color: #000;
    }
    
/* .nav-pills .nav-link.active {
  background-color: #757575 !important; 
  color: #fff !important;             
}

.nav-pills .nav-link {
  color: black; 
} */
